.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.inputs-box {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 35%;
}

.title-input {
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  padding: 10px;
}

.note-grid-box {
  position: absolute;
  top: 150px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 250px);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  background-color: rgb(238, 238, 238);
  overflow: scroll;
  border: 1px black solid;
  border-radius: 5px;
}

.note-box-wrapper {
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 220px;
  background-color: antiquewhite;
  border: black solid 1.5px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.note-box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.note-box {
  display: flex;
  flex-direction: column;
}

.note-box-text-content {
  position: absolute;
  top: 54px;
  height: 164px;
  width: 212px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.note-box-title {
  position: absolute;
  top: 35px;
  margin: 8px 0 0 0;
}

.note-creator-form {
  display: flex;
  align-items: top;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
}

.note-input-area {
  height: 100px;
  resize: horizontal;
  resize: none;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  padding: 10px;
}

.note-submit-button {
  height: 38px;
  width: 38px;
  margin-left: 20px;
  font-size: 20px;
  background-color: rgb(136, 210, 136);
  color: rgb(15, 11, 11);
  border-radius: 5px;
}

.note-submit-button:hover {
  background-color: rgb(189, 215, 189);
  color: rgb(15, 11, 11);
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  width: 22px;
  height: 22px;
}

.note-date {
  font-size: smaller;
  margin: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-color: antiquewhite;
  position: absolute;
  top: 100px;
  left: 30%;
  right: 30%;
  border: #282c34 solid 1px;
  border-radius: 20px;
  padding: 20px;
}

.modal-close-button {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 20px;
}

.modal-edit-button {
  position: absolute;
  bottom: 20px;
}

.modal-date {
  position: absolute;
  margin: 5px 0 0 0;
}

.modal-title {
  margin-top: 40px;
}

.modal-text-content {
  height: 376px;
  margin-top: 0;
}
