.note-creator-form {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
}

.note-input-area {
  height: 100px;
  width: 30%;
  resize: horizontal;
  resize: none;
}

.note-submit-button {
  height: 100px;
  width: 100px;
  margin-left: 20px;
  font-size: 50px;
  background-color: green;
}

.note-submit-button:hover {
  background-color: rgb(3, 83, 3);
  color: lightgrey;
}
