.note-grid-box {
  position: absolute;
  top: 150px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  background-color: white;
  overflow: scroll;
}
